@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our website</h1>
    <h2>You can find top 50 films, action films, comedy films, horror films, romantik comedy films, science fiction films. </h2>
    <h3>You can also find information about films like imdb, lead actors and directors of the films.  </h3>
    <img class="photo" src="~/images/Adsız tasarım.gif" height="400" width="500" />
    <img   class="photo1" src="~/images/FilmStripPhoto.png" height="300" width="300" />
    <img class="photo2" src="~/images/Adsız tasarım1.gif" height="400" width="500" />
</div>

